body{
  background-color:#830A48;
}

h1{
  color: #FAB2EA;
}
*{
  font-style: oblique;
  font-family: cursive;
}
p{
  color: chartreuse;
}
#headingOne{
  color: forestgreen;
}
#headingTwo{
  color: turquoise;
}
.myClass{
  color: cornsilk;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}